

body {
	font-family: 'Istok Web', sans-serif;
	background: url(../img/header_out_bg.png) repeat-x fixed #eee;
	color:#000;
	width:924px;

}

h1 {
	font-size:45px;
	font-weight:bold;
	margin:0px 0 20px 0;
	padding:0px;

}


/*#header {
	width:100%;
	height:196px;
	border-top: 16px solid #eee;
	text-align:center;
	z-index:1000;
	position:fixed;
}*/

#header {
	height:175px;
	border-top: 16px solid #eee;
	text-align:center;
	position: absolute;
top: 0;
bottom: 0;
right: 0;
left:250px;
width:924px;
background:url(../img/header_bg.png) repeat-x transparent;
}

#menu {
	height:41px;
	background:url(../img/bg_menu.png) repeat-x transparent;
	padding: 5px 40px 0 40px;
}

#menu a {
	height:29px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	padding-top:9px;
	color:#333333;
	text-shadow:1px solid #fff;
}



#buttonmenu1, #buttonmenu2 {
	float:left;
	margin-right:10px;
}

#buttonmenu1 a {
	width:185px;
	background: url(../img/button1.png) no-repeat transparent;
}

#buttonmenu1 a:hover {
	background: url(../img/button1_hover.png) no-repeat transparent;
	color:#000;
}

#buttonmenu1 .active {
	background: url(../img/button1_hover.png) no-repeat transparent;
	color:#000;
}

#buttonmenu2 a {
	width:93px;
	background: url(../img/button2.png) no-repeat transparent;
}

#buttonmenu2 a:hover {
	background: url(../img/button2_hover.png) no-repeat transparent;
	color:#000;
}

#buttonmenu2 .active {
	background: url(../img/button2_hover.png) no-repeat transparent;
	color:#000;
}

#buttonmenu_yellow a {
	float:right;
	width:118px;
	background: url(../img/button_yellow.png) no-repeat transparent;
}

#buttonmenu_yellow a:hover {
	background: url(../img/button_yellow_hover.png) no-repeat transparent;
	color:#000;
}

#logo {
	height:134px;
}

#logo img{
	height:134px;
}



#navbar {

 	width: 220px;
  margin: 20px 0 0 10px;
  padding: 0;
  background-color: #eee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#navbar ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	
}

#navbar li {
	border-bottom:1px solid #fff;
	float:left;
}

#navbar li#first a {
	  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}


#navbar li#last a{
	width:172px;
	height:45px;
	background: url(../img/button.png) no-repeat transparent;
	margin:10px 0 10px 25px;
	padding:0;
	color:#000;
}

#navbar li#last a:hover{
	background: url(../img/button_hover.png) no-repeat transparent;
}


#navbar li a{
	padding:12px;
	color:#666;
	font-size:18px;
	text-decoration:none;
}

#navbar li a:hover, .nav li a:active{
	background-color:#ffe500;
	text-decoration:none;
	color:#000;
	
}



#navbar li.active a{
    background-color:#ffe500;
	text-decoration:none;
	color:#000;
}





#content {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left:250px;
overflow-y: auto;
width: 924px;
margin-top: 191px;
background-color:#FFF;


}

#info, #screenshots, #credits {
	/*padding-top:230px;*/
	padding:22px 40px 20px 40px;
	min-height:600px;

}



.title {
	font-size:30px;
	margin:10px 0 20px 0;

}

.list {
	font-size:18px;
	line-height:25px;
	margin-bottom:20px;

}

.list-grey {
	color:#666;

}

.box-yellow {
	background-color:#ffe500;
	padding: 20px;
	font-size:18px;
	line-height:25px;
	margin-bottom:30px;

}

.box-grey {
	background-color:#eee;
	padding: 20px;
	font-size:18px;
	line-height:25px;
	border-left:12px solid #ffe500;
	margin:20px 0px;

}

